{% extends 'base.html' %}

{% block head %}
    <title>Task Master</title>
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
        <h1 class="display-4 text-center">Task Master</h1>
        {% if tasks|length < 1 %}
        <h4 class="h4 text-center">There are no tasks. Create one below!</h4>
        {% else %}
        <table class="table table-secondary table-bordered table-striped table-hover">
            <tr class="table-secondary">
                <th>Task</th>
                <th>Added Date</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr class="table-secondary">
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>{{ task.due_date.date() }}</td>
                <td>
                    <a href="/delete/{{ task.id }}" class="btn btn-outline-danger">Delete</a>
                    <a href="/update/{{ task.id }}" class="btn btn-outline-success">Update</a>
                </td> 
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <div class="mt-5 text-center">
        <h1 class="display-5 text-center">Add New Tasks</h1>
        <form action="/" method="POST">  
            <label for="content" class="form-label">Task Details : </label>
            <input type="text" name="content" id="content" size="50px"><br>
            <label for="date" class="form-label">Enter a due date : </label>
            <input type="date" name="date" id="datein" onload="getTodayDate()"><br>
            <input class="btn btn-outline-info" type="submit" value="Add Task">
        </form>
    </div>
    
{% endblock %}